# Created by https://www.toptal.com/developers/gitignore/api/windows,node,macos,visualstudiocode

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon

### VisualStudioCode ###
.vscode/
*.code-workspace

### Node (QUAN TRỌNG NHẤT CHO FRONTEND) ###
node_modules/
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Các file Build sản phẩm
dist/
build/
out/

# Các file môi trường chứa thông tin bảo mật (BẮT BUỘC CHẶN)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.claude
CLAUDE.md

### Angular ###
.angular/
/out-tsc
/tmp
/coverage
.sass-cache/
.codex
AGENTS.md
.agents